<div class = "row">
    <div class= "col">
        <div class="card" style="justify-content: left;">
            <h3>Component One</h3>
            <div class="sentence">
                Some quick example component created using cli
            </div>
        </div>
    </div>

    <div class="col">

    </div>

    <div class= "col">
        <div class="card" style="justify-content: left;">
            <h3>Component One</h3>
            <div class="sentence">
                Some quick example component created using cli
            </div>
        </div>
    </div>

    <div class="col">
        
    </div>

</div>